<div class="nav-header">
    <div class="brand-logo">
        <a href="/Dashboard/Index">
            <b class="logo-abbr"><img src="~/adminDashboard/logotb5.jpg" style="width:150px; object-fit:contain;" alt=""> </b>
            <span class="logo-compact"><img src="~/adminDashboard/logotb7.jpg" style="width:150px; /* object-fit:contain; */" alt=""></span>
            <span class="brand-title">
                <img src="~/adminDashboard/logotb4.jpg" style="width:175px; object-fit:contain;" aria-expanded="false" alt="">
            </span>
        </a>
    </div>
</div>