<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">                                        
            <li>
                <a href="/ProductAdmin/Index" aria-expanded="false">
                    <i class="fa-solid fa-shirt"></i><span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="/CategoryAdmin/Index" aria-expanded="false">
                    <i class="fa-solid fa-list"></i><span class="nav-text">Kategoriler</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/Index" aria-expanded="false">
                    <i class="fa-solid fa-chart-pie"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>           
            <li>
                <a href="/ContactAdmin/Inbox" aria-expanded="false">
                    <i class="fa-solid fa-envelope"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index" aria-expanded="false">
                    <i class="fa-solid fa-cart-shopping"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li> 
            <li>
                <a href="/OrderAdmin/Index" aria-expanded="false">
                    <i class="fa-solid fa-box"></i><span class="nav-text">Siparişler</span>
                </a>
            </li>
            <li>
                <a href="/ReferanceAdmin/Index" aria-expanded="false">
                    <i class="fa-solid fa-heart"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/ShipperAdmin/Index" aria-expanded="false">
                    <i class="fa-solid fa-truck"></i><span class="nav-text">Postane Hizmetleri</span>
                </a>
            </li>
            <li>
                <a href="/SupplierAdmin/Index" aria-expanded="false">
                    <i class="fa-solid fa-parachute-box"></i><span class="nav-text">Tedarikçiler</span>
                </a>
            </li>
            <li>
                <a href="/EmployeeAdmin/Index" aria-expanded="false">
                    <i class="fa-solid fa-address-card"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/AppRole/Index" aria-expanded="false">
                    <i class="fa-solid fa-fingerprint"></i><span class="nav-text">Rol Listesi</span>
                </a>
            </li>
            <li>
                <a href="/RoleAssign/Index" aria-expanded="false">
                    <i class="fa-solid fa-lock"></i><span class="nav-text">Rol Atama İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AboutAdmin/Index" aria-expanded="false">
                    <i class="fa-solid fa-users"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/Login/Logout" aria-expanded="false">
                    <i class="fa-solid fa-right-from-bracket"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>
