<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="index.html"><h1 class="text-white text-uppercase mb-3">Trend Baskı</h1></a>
                    <p class="text-white mb-0">
                        ASP .Net Core Web-API kullanılarak geliştirilmiş bir WEB tabanlı E-Ticaret sitedir. Geliştirici: Bartu Berkmen
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">İletişim</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>4 Temmuz Mahallesi, Karamürsel/Kocaeli</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+9(0)534 242 7065</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>berkmenberkmen@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Destek</h6>
                        <a class="nav-item nav-link" href="/Contact/Index">
                            <i class="fa-solid fa-envelope"></i>
                            İletişim ve Destek
                        </a>
                        @* <a class="btn btn-link" href="">İletişime Geçin</a>
                        <a class="btn btn-link" href="">Güvenlik Politikamız</a>
                        <a class="btn btn-link" href="">Kurallar ve Şartlar</a>
                        <a class="btn btn-link" href="">Destek</a> *@
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Hizmetler</h6>
                        <a class="nav-item nav-link" href="/Booking/Index">
                            <i class="fa-solid fa-book"></i>
                            Rezervasyonlar
                        </a>
                        @* <a class="btn btn-link" href="">Spa & Fitness</a>
                        <a class="btn btn-link" href="">Spor & Oyunlar</a>
                        <a class="btn btn-link" href="">Kutlamalar & Eğlence</a>
                        <a class="btn btn-link" href="">Fitness & Yoga</a> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; Tüm Hakları Saklıdır @DateTime.Now.Year

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By Berkmen</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a class="nav-item nav-link" href="/Default/Index">
                            <i class="fa-solid fa-house"></i>
                            Anasayfa
                        </a>
                        @* <a href="">Çerezler</a>
                        <a href="">Yardım</a>
                        <a href="">Veri Kullanımı</a> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>