@model ECommerce.WebUI.Dtos.CategoryDto.UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="CategoryId"/>
    <input type="hidden" asp-for="CreatedDate"/>

    <label>Kategori Adını Giriniz</label>
    <input type="text" asp-for="CategoryName" class="form-control" />
    <span style="display:block;" asp-validation-for="CategoryName" class="text-danger"></span>

    <label>Kategori Açıklamasını Giriniz</label>
    <input type="text" asp-for="CategoryDescription" class="form-control" />
    <span style="display:block;" asp-validation-for="CategoryDescription" class="text-danger"></span>

    <label>Kategori Görseli Ekleyiniz</label>
    <input type="file" asp-for="ImagePath" class="form-control" />
    <span style="display:block;" asp-validation-for="ImagePath" class="text-danger"></span>
    <br />
    <button class="btn btn-primary">Kategori Güncelle</button>

</form>

