
<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s ">

    <div class="row g-0">

        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Trend Baskı</h6>
                <h1 class="text-white mb-4">Ürün Kalitemizi ve Yelpazemizi Daha Yakından İnceleyin</h1>
                <p class="text-white mb-4">Markamızın tanıdım videosu ile birlikte değerli müşterlerimize sunduğumuz imkanları ve müşteri memnuniyetini gözeten özenli çalışmalarımızı sizler ile paylaşmaktan mutluluk duyuyoruz.</p>
                <a href="/Booking/Index/" class="btn btn-primary py-md-3 px-md-5 me-3"><strong>Rezervasyon Yapın</strong></a>
                @* <a href="/Booking/Index/" class="btn btn-light py-md-3 px-md-5">Rezervasyon Yapın</a> *@
            </div>
        </div>

        <div class="col-md-5" style="margin-left:10px">
            <div class="video" style="margin-bottom:-9px">
                <iframe width="560" height="620" src="https://www.youtube.com/embed/a1XZCly4TTw?si=FXy4XVUoYFNliTNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>