@{
    var isAuthenticated = User.Identity.IsAuthenticated;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="/Default/Index/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">Trend Baskı</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    @* <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <p class="mb-0">trendbaskiapi@example.com</p>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <p class="mb-0">+012 345 6789</p>
                    </div> *@
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    
                    <h1 class="m-0 text-primary text-uppercase">Trend Baskı</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        
                        <a class="nav-item nav-link" href="/Default/Index">
                            <i class="fa-solid fa-house"></i> 
                            Anasayfa
                        </a>
                        <a class="nav-item nav-link" href="/Booking/Index">
                            <i class="fa-solid fa-book"></i> 
                            Rezervasyonlar
                        </a>
                        <a class="nav-item nav-link" href="/Contact/Index">
                            <i class="fa-solid fa-envelope"></i> 
                            İletişim ve Destek
                        </a>
                                               
                        @if (isAuthenticated)
                        {
                            <a class="nav-item nav-link" type="submit" href="/Shopping/MyCart">
                                <i class="bi-cart-fill me-1"></i>
                                Sepetim
                            </a>
                            <a class="nav-item nav-link" href="/Login/Logout">
                                <i class="fa-solid fa-right-from-bracket"></i> 
                                Çıkış Yap
                            </a>                           
                            
                        }
                        else
                        {
                            <a class="nav-item nav-link" href="/Login/Index">
                                <i class="fa-solid fa-right-to-bracket"></i> 
                                Giriş Yap
                            </a>
                            <a class="nav-item nav-link" href="/Register/Index">
                                <i class="fa-solid fa-user"></i> 
                                Üye Ol
                            </a>
                            @* <a href="/Register/Index" class="nav-item nav-link">Üye Ol</a> *@
                        }                      
      
                    </div>

                </div>
            </nav>
        </div>
    </div>
</div>